# Node modules for both client and server
client/node_modules/
server/node_modules/

# Environment files
client/.env
server/.env

# Logs
server/*.log
client/*.log

# Build folders
client/build/
server/dist/